.container {
    margin: 0% auto;
    margin-top: 5rem;
    height: 60vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
                        "a a a h h h h h h h h h"
                        "a a a m m m m m m m m m"
                        "a a a f f f f f f f f f";

    aside {
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            width: 100%;
        }

        .logo {
            
            height: 85%;
            width: 85%;
            margin-top: -2.5rem;
        
        }
    }

    header {
        grid-area: h;

       
    }

    main {
        grid-area: m;
        display: flex;
        flex-direction: column;
        align-items: center;

        .colors {
            display: flex;
            justify-content: center;
            width: 100%;

            .color1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 15%;
            }

            .color2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
            }

            span {
                margin-right: 0.25rem;
            }

        }
    }

    footer {
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .logos {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;
        }
        
    }
}